<div class="container">
    <div class="row">
        <div class="rol-12" style="margin-top: 50px">
            <mat-card style="margin: 50px">
                <mat-progress-bar *ngIf="checkUploadMultiple" mode="indeterminate"></mat-progress-bar>
                <input type="file" (change)="upLoadMultipleFile($event)" multiple>
                <button *ngIf="arrUrlFormFireBase.length?!selectFile:selectFile" (click)="upLoad()" mat-stroked-button
                        class="mat-button-toggle-group btn-outline-primary">Upload
                    <mat-icon color="accent" matSuffix>upload_file</mat-icon>
                </button>
                <div class="row">
                    <div class="colum" *ngFor="let item of arrUrlFormFireBase">
                        <div class="card">
                            <img src="{{item}}" alt="">
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>
