.colum{
  padding: 10px 10px;
  width: 33.3%;
}
.card{
  background-color : aquamarine;
  box-shadow: 1px 2px 3px 2px darkgoldenrod;
  text-align: center;
}
div.card{
  padding: 10px;
}
img{
  height: 350px;
  width: auto;
  border-radius: 50%;
}
