<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px">
                <form class="form_center" #f="ngForm" (ngSubmit)="f.form.valid&&login()">
                    <mat-error class="alert alert-primary">{{status}}</mat-error>
                    <!--                    USERNAME-->
                    <mat-form-field appearance="outline">
                        <mat-label>UserName :</mat-label>
                        <input name="username" #username="ngModel"[(ngModel)] = "form.username" matInput placeholder="Placeholder" minlength="3" maxlength="50" required>
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        <mat-error *ngIf="username.hasError('required')">Username is required</mat-error>
                        <mat-error *ngIf="username.hasError('minlength')">USername phai lon hon 3 ky tu !</mat-error>
                    </mat-form-field>
                    <br>
                    <!--                    PASSWORD-->
                    <mat-form-field appearance="outline">
                        <mat-label>Enter your password</mat-label>
                        <input name="password" [(ngModel)]="form.password" #password="ngModel" matInput [type]="hide ? 'password' : 'text'" minlength="6" maxlength="100" required [ngModelOptions] = "{standalone:true}">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="password.hasError('required')">Password is required !</mat-error>
                        <mat-error *ngIf="password.hasError('minlength')">Password phai lon hon 6 ky tu !</mat-error>
                    </mat-form-field>
                    <br>
                    <button mat-stroked-button class="mat-button-toggle-group btn-outline-primary">Login
                        <!--                        <mat-icon color="accent" matSuffix>add_circle_outline</mat-icon>-->
                    </button>
                </form>

            </mat-card>
        </div>
    </div>
</div>
